.App {
  text-align: center;
  box-shadow: 5px 5px 5p 5px #a7a7a7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* SPLASH */
.splash-container {
  display: flex;
  background-color: #282c34;
  min-height: 100vh;
  display: row;
  height: 100%;
  width: 100%;
  align-items: center;
  /* justify-content: flex-end; */
  font-size: calc(10px + 2vmin);
  color :#9c9c9c;
}

.splash-container img {
  /* align-self: center; */
  justify-self: center;
}


/* NAVBAR */
.nav-bar {
  justify-self: center;
  /* background-color: #667185; */
  /* background-color: #363636; */
  background-color: #282c34;
  padding: 20px;
  margin: 10px;
  overflow: hidden;
  text-align: center;
}

/* Style the links inside the navigation bar */
.nav-bar a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: flex;
}


.nav-bar .nav-title {
  color: black;
  background-color: white;
  /* background-color: #a7a7a7; */
  box-shadow: inset .09em .09em .1em #d20000, inset -.09em -.09em .1em #d20000;
  font-size: 20px;
}

/* Change the color of links on hover */
.nav-bar a:hover {
  color: rgb(218, 216, 216);
}

/* Add a color to the active/current link */
.nav-bar a.active {
  color: white;
}


/* PROFILE */
.login-form {
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #282c34;
}

.login-form .container {
  /* min-width: 400px;
  min-height: 450px; */
  /* box-shadow: 0px 0px 10px #cccccc; */
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.login-form .container .img img {
  width: 80px;
  display: block;
  margin-left: 75px;
}

.login-form .container .heading h4 {
  color: white;
  font-size: 35px;
  text-align: center;
  margin-left: 50px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  /* border-bottom: 1px solid; */
  /* padding-bottom: 3px; */
  /* display: inline-block; */
}

.login-form .container .form-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form .container .form-fields .input-box {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.login-form .container .form-fields .form-control {
  height: 40px;
  width: 100%;
  padding: 0px 0px 0px 25px;
  border: 1px solid #cccccc;
  font-size: 12px;
}

.login-form .container .form-fields .form-inputs {
  height: 17px;
  width: 100%;
  text-align: left;
  padding: 12px;

  border: 1px solid #cccccc;
  font-size: 12px;
}

.login-form .container .form-fields .form-control ::placeholder {
  color: #cccccc;
}

.login-form .container .form-fields .button-container {
  width: 100%;
  display: flex;
  border: 1px solid transparent;
  align-items: center;
  margin-left: 13px;
  margin-right: 13px;
  /* padding: 13px; */
  margin-bottom: 20px;
}

.login-form .container .form-fields .button-container button {
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  background-color: #a7a7a7;
  border: none;
  border-radius: 4px;
  width: 100%;
}

.login-form .container .form-fields .button-container button:hover {
  background-color: #414855;
}

.login-form .container .form-fields .submitButton-container {
  width: 100%;
  display: flex;
  border: 1px solid transparent;
  justify-content: center;
  margin-top: 15px;
  margin-right: 13px;
  margin-left: 13px;
  /* padding: 15px; */
}

.login-form .container .form-fields .submitButton-container button {
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  background-color: #d20000;
  border: none;
  border-radius: 4px;
  /* margin-right: 0px; */
  width: 50%;
}

.login-form .container .form-fields .submitButton-container button:hover {
  background-color: #414855;
}
