.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* SPLASH */
.splash-container {
  display: flex;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* NAVBAR */
.nav-bar {
  display: flex;
  justify-content: center;
  background-color: #667185;
  padding: 20px;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav-bar a {
  text-align: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav-bar a:hover {
  color: rgb(218, 216, 216);
}

/* Add a color to the active/current link */
.nav-bar a.active {
  color: white;
}

/* PROFILE */
.login-form {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form .container {
  /* min-width: 400px;
  min-height: 450px; */
  /* box-shadow: 0px 0px 10px #cccccc; */
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.login-form .container .img img {
  width: 80px;
  display: block;
  margin-left: 75px;
}

.login-form .container .heading h4 {
  color: #4b8eb2;
  font-size: 35px;
  text-align: center;
  margin-left: 50px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  /* border-bottom: 1px solid; */
  /* padding-bottom: 3px; */
  /* display: inline-block; */
}

.login-form .container .form-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form .container .form-fields .input-box {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.login-form .container .form-fields .form-control {
  height: 40px;
  width: 100%;
  padding: 0px 0px 0px 25px;
  border: 1px solid #cccccc;
  font-size: 12px;
}

.login-form .container .form-fields .form-inputs {
  height: 17px;
  width: 100%;
  text-align: left;
  padding: 12px;

  border: 1px solid #cccccc;
  font-size: 12px;
}

.login-form .container .form-fields .form-control ::placeholder {
  color: #cccccc;
}

.login-form .container .form-fields .button-container {
  width: 100%;
  display: flex;
  border: 1px solid transparent;
  align-items: center;
  margin-left: 13px;
  margin-right: 13px;
  /* padding: 13px; */
  margin-bottom: 20px;
}

.login-form .container .form-fields .button-container button {
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  background-color: #4b8eb2;
  border: none;
  border-radius: 10px;
  width: 100%;
}

.login-form .container .form-fields .button-container button:hover {
  background-color: #414855;
}

.login-form .container .form-fields .submitButton-container {
  width: 100%;
  display: flex;
  border: 1px solid transparent;
  justify-content: center;
  margin-top: 15px;
  margin-right: 13px;
  margin-left: 13px;
  /* padding: 15px; */
}

.login-form .container .form-fields .submitButton-container button {
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  background-color: #e54567;
  border: none;
  border-radius: 10px;
  /* margin-right: 0px; */
  width: 50%;
}

.login-form .container .form-fields .submitButton-container button:hover {
  background-color: #414855;
}
