.App {
  text-align: center;
  box-shadow: 5px 5px 5p 5px #a7a7a7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #282c34;

  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* SPLASH */
.splash-container {
  display: flex;
  background-color: #282c34;
  min-height: 100vh;
  display: row;
  height: 100%;
  width: 100%;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color :#9c9c9c;
}

.splash-container img {
  justify-self: center;
}

.splash-container a:hover {
  background-color: #414855;
  color: white;
}


/* NAVBAR */
.nav-bar {
  justify-self: center;
  /* background-color: #667185; */
  /* background-color: #363636; */
  background-color: #282c34;
  padding: 20px;
  margin: 10px;
  overflow: hidden;
  text-align: center;
}

/* Style the links inside the navigation bar */
.nav-bar a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}


.nav-bar .nav-title {
  color: black;
  background-color: #a7a7a7;
  /* box-shadow: inset .09em .09em .1em white, inset -.09em -.09em .1em white; */
  color: #414855;
  font-size: 20px;
}

/* Change the color of links on hover */
.nav-bar a:hover {
  background-color: #414855;
  color: white;
}

/* Add a color to the active/current link */
.nav-bar a.active {
  color: white;
}


/* PROFILE */
.login-form {
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #282c34;
}

.login-form .container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.login-form .container .img img {
  width: 80px;
  display: block;
  margin-left: 75px;
}

.login-form .container .heading h4 {
  color: white;
  font-size: 35px;
  text-align: center;
  margin-left: 50px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.login-form .container .form-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form .container .form-fields .input-box {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.login-form .container .form-fields .form-control {
  height: 40px;
  width: 100%;
  padding: 0px 0px 0px 25px;
  border: 1px solid #cccccc;
  font-size: 12px;
}

.login-form .container .form-fields .form-inputs {
  height: 17px;
  width: 100%;
  text-align: left;
  padding: 12px;

  border: 1px solid #cccccc;
  font-size: 12px;
}

.login-form .container .form-fields .form-control ::placeholder {
  color: #cccccc;
}

.login-form .container .form-fields .button-container {
  width: 100%;
  display: flex;
  border: 1px solid transparent;
  align-items: center;
  margin-left: 13px;
  margin-right: 13px;
  margin-bottom: 20px;
}

.login-form .container .form-fields .button-container button {
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  background-color: #a7a7a7;
  border: none;
  border-radius: 4px;
  width: 100%;
}

.login-form .container .form-fields .button-container button:hover {
  background-color: #414855;
}

.login-form .container .form-fields .submitButton-container {
  width: 100%;
  display: flex;
  border: 1px solid transparent;
  justify-content: center;
  margin-top: 15px;
  margin-right: 13px;
  margin-left: 13px;
  /* padding: 15px; */
}

.login-form .container .form-fields .submitButton-container button {
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  background-color: #d20000;
  border: none;
  border-radius: 4px;
  width: 50%;
}

.login-form .container .form-fields .submitButton-container button:hover {
  background-color: #414855;
}

/* LOGIN CONTAINER */

 .container {
  display: flex;
  margin: auto;
 }

.login-container {
  display: flex;
  flex-direction: column;
  max-width: 45vh;

  background-color: #a7a7a7;
  color: white;

  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 1px 1px 2px black;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  align-self: flex-start;
  margin: 10px;
  align-self: center;
}

.login-container input {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: auto;
}

.login-container .button {
  background-color: #414855;
  color: white;
  margin-top: 10px;
}

.login-container .button:hover {
  background-color: #a7a7a7;
  color: black;
}

.login-container img {
  align-self: center;
  height: 40%;
  width: 37%;
  padding-bottom: 25px;
}

.login-container a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  padding-top: 7px;
}

.login-container a:hover {
  color: #414855;
}

/* SIGNUP FORM */

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px;
  font-size: 20px;
  /* margin: 10px; */
}

.signup-container img {
  margin-top: 15px;
  margin-bottom: -15px;
}

.signup-container input {
  display: flex;
  flex-direction: column;
  margin: 7px;
}

.signup-container label {
  -webkit-transform: rotate(-180deg);
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 15px -30px 15px;
}

.nav-buttons .single-btn:hover {
  color: #414855;
}

/* AGE MENU */


.age-menu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-right: 5px;
  padding: 5px;
}

.down {
  padding-left: 8px;
  padding-right: 5px;
}

.over-49 {
  display: none;
  position: absolute;
}

.under-49 {
  display: none;
  position: absolute;
}

.up:hover .over-49 {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  margin-left: -22px;
  padding: 10px;
  background-color: black;
  max-height: 20%;
  width: 40px;
  overflow: scroll;
}

.down:hover .under-49 {
  display: flex;
  flex-direction: column;
  /* margin-top: 5px; */
  margin-left: -20px;
  padding: 10px;
  background-color: black;
  max-height: 20%;
  width: 40px;
  overflow: scroll;
}

.age-menu .age:hover {
  background-color: #414855;
}

.dropdown .up:hover .over-49 {
  color: black;
  display: block;
}

.down:hover .over-49 {
  color: black;
  display: block;
}

